.body {
    display: flex;
    justify-content: center;
}
.form {
    margin: 2vh;
    max-width: 300px;

}

.formButton {
    width: 100%;
}

.formNavigate {
    cursor: pointer;
    color: rgb(24, 144, 255);
}