@import '../../../../node_modules/antd/dist/antd.css';

.center {
    text-align: center;
    padding: 10vw;
    font-size: 5vw;
}

.site-layout .site-layout-background {
    background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}