.body {
    position: absolute;
    z-index: 2;
}

.nav {
    height: calc(50vh - 10vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainButton {
    cursor: pointer;
}

.button, .mainButton, .exitButton {
    display: block;
    font-size: calc(1em + 3vw);
    margin: 30px;
    text-decoration: none;
    color: #fff;
}

.mainButton:hover {
    color: rgb(189, 189, 189);
}

.button:hover {
    color: rgb(253, 226, 3);
}

.exitButton {
    position: absolute;
    margin-left: 90vw;
    top: 0;
}

.exitButton:hover {
    color: #e22b2a;
}