.memberImg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: rgba(175, 232, 255, 0.98);
}

.memberName {
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 1.3vw;
}

.chatMemberBlock {
    cursor: pointer;
    display: flex;
    margin-top: 1.5vh;
}

.truncateText {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.offlineStatus{
    margin-left: 1vw;
    color: #5e5e5e;
}
.onlineStatus{
    margin-left: 1vw;
    color: #1b83fa;
}