.truncateText {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.dialogText {
    display: flex;
}
.chatName{
    font-weight: bold;
}
.dialogContainer {
    font-size: 1.5vw;
    cursor: pointer;
    margin: 1vw;
    padding: 0.5vw;
    max-width: 400px;
    height: 5.2vw;
    border-bottom: #141414 1px solid;
}
.dialogContainer:hover{
    -webkit-box-shadow: -3px -4px 5px -5px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: -3px -4px 5px -5px rgba(34, 60, 80, 0.2) inset;
    box-shadow: -3px -4px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.navLink, .navLink:hover {
    text-decoration: none;
    color: #141414;
}
.username{
    color: #0468ff;
}